body {
  background: #87191c;
}

head {
	background-color: #363636;
	background-repeat: no-repeat;
	color: #363636;
	font-family: Castellar;
}

article {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

table {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

h1 {
  font-family: Castellar;
}

h2 {
  font-family: Castellar;
}

p {
    font-family: Candara;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Castellar;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.prerequisite {
  font-style: italic;
}

#para1 {
  text-align:left;
  color:yellow;
}

li a:hover {
  background-color: yellow;
}