body {
	background: #87191c;
}

head{
	background-color: #363636;
	background-repeat: no-repeat;
	color: 363636;
	font-family: Castellar;
}

header{
  background-color: 
}

h1{
  font-family: Castellar;
}

table{
  border-style: solid;
  border-width: 15px;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

h2{
  font-family: Castellar;
}

p {
    font-family: Candara;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: arial,sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.prerequisite {
  font-style: italic;
}

#para1{
  text-align:left;
  color:yellow;
}

li a:hover{
  background-color: yellow;
}